*{
    margin:0;
    padding:0;
}
.content{
    margin:20px auto;
    width:600px;
    border:1px solid #999;
    padding:10px;
    background:url("images.jpg") no-repeat;
}
.content h1{
    color:pink;
    text-align:center;
    padding-left:50px
}
.content ul{
    margin:30px 0 0 250px;
}
.content ul li{
    margin-top: 5px;
    list-style:decimal inside;
}
.content2{
    margin:20px auto;
    width:800px;
    border:1px solid #999;
    padding:10px;
}
.content2 h1{
    color:pink;
    text-align:center;
    padding-left:50px
}
.content2 ul{
    margin:30px;
}
.content2 ul li{
    margin-top: 5px;
    display:inline-block;
    margin-left:30px;
}
.content2 ul li a{
    display:inline-block;

}
.content2 div .result{
margin-left :300px
}


.content3 {
    border:1px solid #999;
    margin:20px auto;
    width:380px;

}
.content3 h1{
    color:pink;
    text-align:center;
}
.content3 .image{
    margin: 0;
    text-align:center
}
.content3 .image img{
    margin:10px 10px;
    display:block;
    width: 300px;
}
.content3 .image a{
   display:inline-block;
    background:#686f97;
    padding:3px 10px;
    margin: 10px 0;
    text-decoration:none;
}
.content3 .image a:hover{
    color: yellow;
}
.content4 {
    border:1px solid #999;
    margin:20px auto;
    width:380px;

}
.content4 h1{
    color:pink;
    text-align:center;
}
.content4 div .result{
    margin-left:320px;
}
.content4 .question{
    margin-top:20px;
    text-align:center;
}
.content4 .question p{
    margin-top:5px;
}
.content4 .question p:last-child{
    text-align:right;
    font-style:italic;
    margin-top:20px;
}
.content4 .answer p{
    font-weight:bold;
}
.content5{
    border:1px solid #999;
    width:600px;
    float:right;
    margin:10px 500px;
}
.content5 .info img{
    width:200px;
    height:200px;
    padding:10px;
    float:left;
}
.content5 .info h1{
    float:left;
    color:red;
    text-align:center;
    padding:30px 45px;
}
.content5 .info form  p{
  padding-bottom:13px;
}
.content5 .info form input{
    padding:8px;
    margin-bottom: 35px;
}
.content5 .info form input[type="text"]{
    width:200px;
}
.content5 .result{
    margin-top:10px;
    line-height:25px;
}
.content5 .result .normal p .col1{
   float:left;
    width:200px;
    padding-left:10px;
    font-weight:bold;
}
.content5 .result .normal p .col2{
    float:left;
    text-align:center;
    width:300px;
    font-weight:bold;
}
.content5 .result .normal p .col3 {
   float:right;
    padding-right:10px;
    font-weight:bold;
}
.content5 .result .total {
     float:right;
    font-size:17px;
    font-weight:bold;
    color:blue;
    padding-top:10px;
    padding-right:10px;
}